<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<typeAliases> 
	<typeAlias alias="UserDTO"     type="com.ds.gwapp.domain.UserDTO"/>
	<typeAlias alias="HobbyDTO"     type="com.ds.gwapp.domain.HobbyDTO"/>
	<typeAlias alias="DeptDTO"     type="com.ds.gwapp.domain.DeptDTO"/>
	</typeAliases>

	<mappers> 
	  <mapper resource=	"mapper/User.xml"	/>
	  <mapper resource= "mapper/Hobby.xml"	/>
	  <mapper resource= "mapper/Dept.xml"	/>
	</mappers>
	
</configuration>